Source: kdesignerplugin
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.12),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.25.0~),
               kdoctools-dev (>= 5.25.0~),
               kio-dev (>= 5.25.0~),
               libkf5completion-dev (>= 5.25.0~),
               libkf5config-dev (>= 5.25.0~),
               libkf5configwidgets-dev (>= 5.25.0~),
               libkf5coreaddons-dev (>= 5.25.0~),
               libkf5iconthemes-dev (>= 5.25.0~),
               libkf5itemviews-dev (>= 5.25.0~),
               libkf5plotting-dev (>= 5.25.0~),
               libkf5sonnet-dev (>= 5.25.0~),
               libkf5textwidgets-dev (>= 5.25.0~),
               libkf5webkit-dev (>= 5.25.0~),
               libkf5widgetsaddons-dev (>= 5.25.0~),
               libkf5xmlgui-dev (>= 5.25.0~),
               libqt5webkit5-dev,
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev (>= 5.5.0~),
               qttools5-dev (>= 5.5.0~),
               qttools5-dev-tools (>= 5.4),
               xauth,
               xvfb
Standards-Version: 3.9.8
Homepage: https://projects.kde.org/projects/frameworks/kdesignerplugin
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/frameworks/kdesignerplugin.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/frameworks/kdesignerplugin.git

Package: kgendesignerplugin
Section: libdevel
Architecture: any
Depends: kdesignerplugin-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Integration of KF5 widgets in Qt Designer/Creator
 kgendesignerplugin can be used to genrate plugins for widgets
 in Qt Designer and Qt Creator.
 .
 Part of KDE Frameworks.
Breaks: libkf5kdelibs4support-dev (<< 5.25)

Package: kdesignerplugin
Architecture: any
Multi-Arch: same
Depends: kdesignerplugin-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Integration of KF5 widgets in Qt Designer/Creator
 This framework provides plugins for Qt Designer that allow
 it to display the widgets provided by various KDE Frameworks,
 as well as a utility kgendesignerplugin which can be used
 to generate other such plugins from ini-style description files.
 .
 Part of KDE Frameworks.

Package: kdesignerplugin-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Integration of KF5 widgets in Qt Designer/Creator
 This framework provides plugins for Qt Designer that allow
 it to display the widgets provided by various KDE Frameworks,
 as well as a utility kgendesignerplugin which can be used
 to generate other such plugins from ini-style description files.
 .
 Part of KDE Frameworks.
 .
 This package contains images and translations.
