Source: kdesignerplugin
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules,
               kdoctools-dev (>= 5.4.0),
               kio-dev (>= 5.4.0),
               libkf5archive-dev (>= 5.4.0),
               libkf5attica-dev (>= 5.4.0),
               libkf5auth-dev (>= 5.4.0),
               libkf5bookmarks-dev (>= 5.4.0),
               libkf5codecs-dev (>= 5.4.0),
               libkf5completion-dev (>= 5.4.0),
               libkf5config-dev (>= 5.4.0),
               libkf5configwidgets-dev (>= 5.4.0),
               libkf5coreaddons-dev (>= 5.4.0),
               libkf5dbusaddons-dev (>= 5.4.0),
               libkf5globalaccel-dev (>= 5.4.0),
               libkf5guiaddons-dev (>= 5.4.0),
               libkf5i18n-dev (>= 5.4.0),
               libkf5iconthemes-dev (>= 5.4.0),
               libkf5itemviews-dev (>= 5.4.0),
               libkf5jobwidgets-dev (>= 5.4.0),
               libkf5kjs-dev (>= 5.4.0),
               libkf5plotting-dev (>= 5.4.0),
               libkf5service-dev (>= 5.4.0),
               libkf5solid-dev (>= 5.4.0),
               libkf5sonnet-dev (>= 5.4.0),
               libkf5textwidgets-dev (>= 5.4.0),
               libkf5webkit-dev (>= 5.4.0),
               libkf5widgetsaddons-dev (>= 5.4.0),
               libkf5windowsystem-dev (>= 5.4.0),
               libkf5xmlgui-dev (>= 5.4.0),
               libqt5webkit5-dev,
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev,
               qttools5-dev,
               qttools5-dev-tools,
               xauth,
               xvfb
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/kdesignerplugin
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/frameworks/kdesignerplugin.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/frameworks/kdesignerplugin.git

Package: kgendesignerplugin
Section: libdevel
Architecture: any
Depends: kdesignerplugin-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Integration of KF5 widgets in Qt Designer/Creator
 kgendesignerplugin can be used to genrate plugins for widgets
 in Qt Designer and Qt Creator.
 .
 Part of KDE Frameworks.

Package: kdesignerplugin
Architecture: any
Multi-Arch: same
Depends: kdesignerplugin-data (= ${source:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Description: Integration of KF5 widgets in Qt Designer/Creator
 This framework provides plugins for Qt Designer that allow
 it to display the widgets provided by various KDE Frameworks,
 as well as a utility kgendesignerplugin which can be used
 to generate other such plugins from ini-style description files.
 .
 Part of KDE Frameworks.

Package: kdesignerplugin-data
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Integration of KF5 widgets in Qt Designer/Creator
 This framework provides plugins for Qt Designer that allow
 it to display the widgets provided by various KDE Frameworks,
 as well as a utility kgendesignerplugin which can be used
 to generate other such plugins from ini-style description files.
 .
 Part of KDE Frameworks.
 .
 This package contains images and translations.

Package: kdesignerplugin-dbg
Priority: extra
Section: debug
Architecture: any
Depends: kgendesignerplugin (= ${binary:Version}), ${misc:Depends}
Description: Integration of KF5 widgets in Qt Designer/Creator
 This framework provides plugins for Qt Designer that allow
 it to display the widgets provided by various KDE Frameworks,
 as well as a utility kgendesignerplugin which can be used
 to generate other such plugins from ini-style description files.
 .
 Part of KDE Frameworks.
 .
 Contains debug symbols for kdesignerplugin.
